/* RESPONSIVE */
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

/* TIPOGRAFIA */
$font-primary: 'Roboto', sans-serif;

/* COLORES */
$primer-color: #2b07fc;
$segundo-color: #7107fc;
$tercer-color: #b707fc;
$cuarto-color: #fc07db;
$quinto-color: #a3cff3;
$sexto-color: #9c52f0;
$septimo-color: #7808f8;
$octavo-color: #636363;
