/* RESPONSIVE */
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

/* TIPOGRAFIA */
$font-primary: 'Roboto', sans-serif;

/* COLORES */
$primer-color: #8810F1;
$segundo-color: #E610F1;
$tercer-color: #F11050;
$cuarto-color: #10AEF1;
$quinto-color: #C8E3E6;
$sexto-color: #99BDC2;